[submodule "ThirdParty/JCL"]
	path = ThirdParty/JCL
	url = https://github.com/project-jedi/jcl.git
[submodule "ThirdParty/JVCL"]
	path = ThirdParty/JVCL
	url = https://github.com/project-jedi/jvcl.git
[submodule "ThirdParty/Spring"]
	path = ThirdParty/Spring
	url = https://bitbucket.org/sglienke/spring4d.git
[submodule "ThirdParty/SynEdit"]
	path = ThirdParty/SynEdit
	url = https://github.com/SynEdit/SynEdit.git
[submodule "ThirdParty/DevExpress"]
	path = ThirdParty/DevExpress
	url = ThirdParty/DevExpress
[submodule "D:/View/ThirdParty/Raize"]
	path = D:/View/ThirdParty/Raize
	url = D:/View/ThirdParty/Raize
